button {
  margin: 10px;
}

.btn-default {
  margin: 0px;
  margin-left: 5px;
}

.ordering {
  display: none;
}

#save {
  width: 200px;
}

/*canvas {
  margin-top: 30px;
  width: 80%;
  height: 300px;
  border: 1px solid black;
}*/

.info-type {
  font-weight: bold;
}

#pizza-list, #info-list{
  font-size: 16px;
}

/*.col-md-3, .col-md-6 {
  border: 1px solid black;
}*/
